# Copyright (C) Nicolas Lamirault <nicolas.lamirault@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
# defaults file for base

timesync_timezone: Europe/Paris
timesync_fallback_ntp_hosts:
  - 0.pool.ntp.org
  - 1.pool.ntp.org
  - 2.pool.ntp.org
  - 3.pool.ntp.org
timesync_write_hwclock_on_change: True

#datasource=github-tags depName=Jguer/yay
yay_version: v11.1.2
yay_package_name: "yay_{{ yay_version }}_x86_64.tar.gz"
yay_download_url: https://github.com/Jguer/yay/releases/download/v{{ yay_version }}/yay_{{ yay_version }}_x86_64.tar.gz
yay_dir: /home/{{ user }}/Applications
yay_install_dir: /home/{{ user }}/Applications/yay_{{ yay_version }}_x86_64

lf_version: r26
lf_linux_package_name: lf-linux-amd64.tar.gz
lf_linux_download_url: https://github.com/gokcehan/lf/releases/download/{{ lf_version }}/{{ lf_linux_package_name }}
lf_linux_dir: /home/{{ user }}/bin
lf_darwin_package_name: lf-darwin-amd64.tar.gz
lf_darwin_download_url: https://github.com/gokcehan/lf/releases/download/{{ lf_version }}/{{ lf_darwin_package_name }}
lf_darwin_dir: /Users/{{ user }}/bin/lf

lazygit_version: 0.31.3
lazygit_linux_package_name: lazygit_{{ lazygit_version }}_Linux_x86_64.tar.gz
lazygit_linux_checksum: "sha256:11768b99b5c2b85c435a3cff585187a8e6d2b102ff45f6bb744f69b2a28112db"
lazygit_linux_download_url: https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_version }}/{{ lazygit_linux_package_name }}
lazygit_linux_dir: /home/{{ user }}/bin
lazygit_darwin_package_name: lazygit_{{ lazygit_version }}_Darwin_x86_64.tar.gz
lazygit_darwin_checksum: "sha256:a51fb5bebcde0c01b21ee8b2d75e13846601f9b996eb23ef87f5ea89775f0737"
lazygit_darwin_download_url: https://github.com/jesseduffield/lazygit/releases/download/v{{ lazygit_version }}/{{ lazygit_darwin_package_name }}
lazygit_darwin_dir: /Users/{{ user }}/bin

user_dirs:
  - Applications
  - Projects
  - Work

xdg_dirs:
  - Desktop
  - Documents
  - Downloads
  - Music
  - Pictures
  - Public
  - Templates
  - Videos
